
div{
    border:1px #333 solid
}

section {
    background-color: lightgray;
    padding: 80px 40px;

}


.card {
    width: 250px;
}
img {
   /* width: 100%; */
}


.img-card {
    width: 100%
}

.img-feat {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

#hero {
    background-image: url('../img/photo-1568145675395-66a2eda0c6d7\ \(1\).jpg');
    background-size: cover;
    height: 30vh;
    text-align: center;
}